@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    font-size: 16px;
    font-family: 'Montserrat' , sans-serif;
    background-image: linear-gradient(-2deg , #09142c, #141f36);   
}

header {
    display: flex;
    justify-content: row;
    justify-content: space-between;
    align-items: center;
}

.logo-principal {
    display: flex;
    height: 50px; 
    margin: 20px;
}

a {
    color: #ececf6;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

li {
    display: inline-block;
    text-transform: space;
    margin: 20px;
}

#home {
    position: relative;
}

#home:after {
    content: "";
    width: 50px;
    height: 2px;
    margin: auto;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
}

a:hover:after {
    content: "";
    width: 85px;
    height: 2px;
    margin: auto;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;   
}

#inscreva-se-entrar {
    background: #2d6cea;
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 20px;
    color: #fff;
}

#inscreva-se-entrar:hover {
    background: #1b5cdc;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    gap: 180px; 
}

h2 {
    font-size: 25px;
    margin: 20px;
    font-weight: 300;
    line-height: 30px;
    color: hsla(0, 0%, 100%, .8);
}

p {
  font-size: 14px;
  margin: 20px;
  line-height: 20px;
  color: rgba(236, 236, 246, .6);
}

form [type="submit"] {
    list-style: none;
    margin: 32px 0;
    margin-top: 6px;
    margin-right: 30px;
    cursor: pointer;
}

#blue-button {
    background: #2d6cea;
    width: 150px;
    height: 35px;
    padding: 5px;
    margin-left: 20px;
    padding-bottom: 7px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 20px;
    color: #fff;
}

#blue-button:hover {
    background: #1b5cdc;
}

#other-button {
    width: 150px;
    height: 35px;
    padding: 5px;
    padding-bottom: 7px;
    border-radius: 10rem;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s linear;
    border: 1px solid #2d6cea;
    color: #fff;
    cursor: pointer;
    background: rgba(45, 108, 234, .1);
    box-shadow: 0 0 5px 3px rgb(45 108 234 / 30%);
}

#other-button:hover {
    background: #fff;
    color: #2d6cea;
    transition: all .3s linear;
    box-shadow: 0 0 5px 3px rgb(236, 236, 246 / 30%);
    border: 1px solid #fff;
}

.imagem-logo {
    height: 350px;
    transform: translateY(0);
    animation: ImagemLogo 2s ease-in-out infinite;
}

@keyframes ImagemLogo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}









